@model IEnumerable<DrinkApplication.Models.DrinkModel>

@{
    ViewBag.Title = "ResultAction";
}

<h2>Search result</h2>

<div>
    <table class="resultTable">
        <tr>
            <td width="33%">
                Name
            </td>
            <td>
                Ingredients
            </td>
            <td width="20%">
                Add to favourites
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td width="33%">
                    @Html.DisplayFor(modelItem => item.drink.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ingredients)
                </td>
                <td width="20">
                    @Html.ActionLink("Add", "AddNewFav", "Home", new { id = item.drink.Drink_Id }, null)
                </td>
            </tr>
        }
    </table>
</div>